.cname{
    width: max-content;
    margin: auto;
    font-size: 30px;
    margin-top: 80px;
    font-weight: 500;
}
.ctitle{
    width: max-content;
    margin: auto;
    font-size: 26px;
    color: gray;
}
.ccontactdet{
    margin-left: 37%;
    font-size: 26px;
}
.ccontactdet>div{
    margin-top: 10px;
}
.cspace{
    height: 150px;
}