.App{
  /* height: 2000px; */
  max-width: 100%;
}
.first{
  background-color: #d4e1de;
}
.second{
  background-color: #f2e9ff;
}
.white{
  background-color: white;
}
.third{
  background-color: #f3e3e3;
}